n8n/JobTracker - Gmail Monitor.json
{
  "name": "JobTracker - Gmail Monitor",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "both"
        }
      },
      "id": "ea19f392-5253-42c1-96a0-cf0fcb32ff8d",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_OAUTH2_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente que analisa e-mails de processos seletivos de vagas de emprego.\n\n## CONTEXTO\nO usuário está monitorando candidaturas em plataformas como Gupy, Eureca e Universia.\nVocê deve analisar o e-mail recebido e determinar se é relacionado a alguma vaga de emprego.\n\n## ETAPAS\n\n### 1. Verificar se é e-mail relevante\nPrimeiro, use a ferramenta HTTP Request para consultar a lista de empresas monitoradas.\nIMPORTANTE: Chame a ferramenta HTTP Request SEM NENHUM ARGUMENTO/PARAMETRO. A URL já está configurada.\n- A ferramenta fará GET em `http://YOUR_SERVER_IP:8000/alertas/empresas-monitoradas`\n- Compare com o remetente e conteúdo do e-mail\n\nRemetentes comuns de plataformas:\n- `@gupy.pub` ou `@gupy.io` → Plataforma Gupy\n- `@eureca.me` → Plataforma Eureca  \n- `@universia.net` → Plataforma Universia\n- E-mails diretos de RH de empresas\n\n### 2. Analisar conteúdo do e-mail\nSe o e-mail for relevante, identifique:\n- **empresa**: Nome da empresa (ex: PagBank, Honda, B3)\n- **novo_status**: O novo status baseado no conteúdo:\n  - \"Inscrito\" → confirmação de inscrição\n  - \"Teste Pendente\" → convite para teste online/trilha\n  - \"Entrevista\" → convite para entrevista (técnica, comportamental, etc)\n  - \"Feedback\" → retorno sobre o processo\n  - \"Rejeitado\" → recusa/reprovação\n- **cargo**: Nome da vaga se mencionado\n- **resumo**: Breve resumo do e-mail (1-2 frases)\n\n### 3. Atualizar o banco de dados\nSe for relevante, use a ferramenta HTTP Request para enviar os dados:\n- Faça POST em `http://YOUR_SERVER_IP:8000/alertas/webhook`\n- Envie o JSON com os campos identificados\n\nSe o e-mail NÃO for de nenhuma empresa monitorada ou não for sobre processo seletivo, responda apenas: \"E-mail ignorado - não relevante.\"\n\n## E-MAIL RECEBIDO\n**De:** {{ $json.From }}\n**Assunto:** {{ $json.Subject }}\n**Data:** {{ $json.internalDate }}\n**Corpo:**\n{{ $json.textPlain || $json.snippet }}",
        "options": {
          "systemMessage": "Você é um assistente especializado em analisar e-mails de processos seletivos. Extraia informações estruturadas e use as ferramentas disponíveis para consultar e atualizar o banco de dados do JobTracker. Sempre responda em português."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "id": "03adbcf2-e589-415d-8d4c-59d5edcf1b61",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "33453229-db00-48a9-bc84-bffaa120195f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.From.match(/<([^>]+)>/)[1] }}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        192
      ],
      "id": "ba39dcf0-2f36-41d1-bd65-8d16b89385b1",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "url": "=http://YOUR_SERVER_IP:8000/alertas/empresas-monitoradas",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        384,
        208
      ],
      "id": "0cdad287-3ddd-4c56-97c3-c6c87ea162b8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_SERVER_IP:8000/alertas/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "empresa",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "novo_status",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "cargo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "remetente",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "assunto",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            },
            {
              "name": "resumo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"
            },
            {
              "name": "data_evento",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        512,
        192
      ],
      "id": "75e5212a-7d3b-422b-958a-6444711a8e96",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        144,
        176
      ],
      "id": "8fc26d2b-6586-437a-82c4-e9987559d5d0",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "YOUR_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}
